@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
   
}

a {
    text-decoration: none;
    color: #000000;
}

.container-header {
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.photo img {
    border-radius: 50%;
    width: 270px;
    height: 270px;  
    margin-bottom: 40px;
}

.content-header {
    background-color: #78c0e0;
    border-radius: 25px;
    width: 500px;
    height: 120px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Staatliches', cursive;
    font-size: 30px;
    cursor: pointer;
}

.content-header:hover {
    background-color: #449dd1;
}

.projetos, .linkedin {
    display: flex;
    flex-direction: row;
}

i {
    margin-right: 10px;
}

.top {
    margin-top: 2.4px;
}


/* MEDIA QUERIES */

@media (max-width: 800px) {
    .photo img {
        width: 230px;
        height: 230px;     
    }

    .content-header {
       
        width: 400px;
        height: 120px;
        font-size: 25px;

    }
}

@media (max-width: 600px) {
    .photo img {
        width: 200px;
        height: 200px;     
    }

    .content-header {
       
        width: 380px;
        height: 80px;
    }
}

